# Runtime
NODE_ENV=production

# Server
HOST=0.0.0.0
PORT=3000

# Public application URL
# Для локального запуска можешь оставить localhost,
# для VPS потом заменить на реальный домен или IP
ORIGIN=http://localhost:3000
